<!-- <h1>{{title | uppercase}}</h1>
<h1>{{jsonValue | json}}</h1>
<h1>{{newDate | date:'medium'}}</h1>



<h1>{{intro| truncate}}</h1>

<button (click)= 'handleEvent()'>click us</button>
<input placeholder="hello" [(ngModel)]= "title" (keydown)= 'handleEvent()'/> -->

<input placeholder="name" [(ngModel)]="userObject.name" >
<input placeholder="age" [(ngModel)]="userObject.age" >
<input placeholder="id" [(ngModel)]="userObject.id" >

<ng-container *ngIf= "showUser">
    <app-user [user]= "userObject" (userCustomEvent)= "handleEvent($event)"></app-user>
</ng-container>

<ul *ngFor= "let item for posts " | async>
    <li>{{item.id}}</li>
    <li>{{item.title}}</li>
    <li>{{item.body}}</li>
</ul>
